---
import Header from "../components/Header.astro";
import CharsInput from "../components/CharsInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="w-full relative px-4 m-auto max-w-2xl flex-col gap-8 h-dvh flex items-center justify-center"
  >
    <Header />
    <h1 class="font-bold text-center lg:text-5xl text-4xl animate-fade-down">
      Chinese Character
      <span class="text-yellow-300">Writing</span> Practice
    </h1>
    <p
      class="animate-fade-right text-neutral-400 text-balance max-w-xl text-center w-full"
    >
      Generate PDFs for writing practice. Just paste the characters you want to
      practice.
    </p>
    <CharsInput />
  </main>
</Layout>
