---
import Github from "../icons/Github.astro";
---

<header class="flex justify-between absolute top-0 w-full h-10 p-2">
  <a
    href="https://github.com/arch-fan/chinese-character-writing-practice"
    class="flex gap-1 h-full"
  >
    <Github />
    Repo
  </a>
  <span>
    Powered by <a href="https://www.mangoworksheets.com/" class="underline"
      >Mangoworksheets</a
    ></span
  >
</header>
